
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <ul>
            <% if (users.length) { %>
             <% users.forEach(element => { %>
                <li>
                    <h3><%= element.name%></h3>
                    <p><%= element.email%></p>

                    <% if (admin.block.includes(element.id)) { %>
                        <a href="/users/<%= element.id %>/unblock">UnBlock</a>
                    <% } else { %>

                        <a href="/users/<%= element.id %>/block">Block</a>
                        <% } %>

                </li>
              <% }); %> 
            <% } %>  
        </ul>
    </main>
    
</body>
</html>

